
/* Variables */
:root {
  --ff-title: 'Satisfy', serif;
  --ff-subtitle: "Crimson Text", serif;
  --ff-text: "Roboto Slab", sans-serif;

  --fs-title: 2.369rem;
  --fs-subtitle: 1.777rem;
  --fs-text: 1rem;

  --clr-bckgr-hdft: #30343F;
  --clr-bckgr-topick: rgb(249, 247, 247);

  --clr-text: black;
  --clr-text-nav: white;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}
/* Set core root defaults */

/* remove default margin */
body,
main,
h1,
h2,
h3,
h4,
p,
ul {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* make images easier to work with */
img, 
picture {
  display: block;
  max-width: 100%;
}

/* Typography */
/* Properties that define the color, size, spacing, and shape of text */
html {
  font-size: 100%;
} /*16px*/

body {
  font-family: var(--ff-text);
  /* background: linear-gradient(to right, #b4ab8f, #DFDFCA); */
  font-weight: 400;
  line-height: 1.75;
}

h1 {
  font-size: 4.209rem;
}

h2 {
  font-size: 3.157rem;
}

h3 {
  font-size: 2.369rem;
}

h3 {
  font-size: 2.369rem;
}

h4 {
  font-size: 1.777rem;
}

h5 {
  font-size: ;
}

p {
  font-size: 1rem;

}
small, .text_small {
  font-size: 0.75rem;
}

.text-primary {
  color: var(--clr-text);
}

.logo {
  padding: 1rem 0 0 0;
}

.logo img {
  border-radius: 25px;
}

.section-title {
	font-family: var(--ff-title);
  font-size: var(--fs-title);
  padding: 1rem;
}

.topick-accent {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  padding: 0.75rem;
}

/* Navigation */
.header {
  background-color: var(--clr-bckgr-hdft);
  padding: 0;
}

.header .nav {
  padding-top: 1rem;
  padding-bottom: 0;
}

.header .nav ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
  padding: 0;
  margin: 0;
}

.header .nav a {
  display: inline-block;
  padding: 0.85rem 0 0 0;
  color: var(--clr-text-nav);
  background-color: transparent;
  text-decoration: none;
}

.nav a:hover,
a:focus {
  color: bisque;
  text-decoration: underline; 
}

/* Homepage styles */
.about {
  padding: 1rem;
}

.about__body p {
  text-align: center;
}

.about__body .p-accent {
  font-style: italic;
  font-weight: bold;
  margin-top: 2rem;
}

.about__body a {
  color: rgba(4, 0, 255, 0.883);
  font-style: italic;
  text-decoration: none; 
}

.about__body a:hover, a:focus {
  text-decoration: underline; 
}

/* Projects styles */
.projects {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 1rem;
}

.project {
  border-radius: 5px;
  transform-origin: center;
}

.project__title {
  font-family: var(--ff-subtitle);
  font-size: var(--fs-subtitle);
  font-style: italic;
  padding-top: 0.5rem;
}

.project .project__title a {
  text-decoration: none;
  color: var(--clr-text);
}

.project .project__title a:hover,
a:focus {
  text-decoration: underline; 
}

.project .project__content {
  padding: 1rem;
}

.project__content p, li {
  text-align: left;
}

.project__content ul {
  padding-left: 2rem;
}


/* Contac styles */

.contact__form h3 {
  font-family: var(--ff-subtitle);
  font-size: var(--fs-subtitle);
  font-style: italic;
}

.contact__body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: top;
  gap: 0.5rem;
}


.contact__form ::placeholder {
  color: rgb(255, 0, 85);
  opacity: 0.7;
}

.form-control {
  font-size: var(--fs-text);
  height: 2rem;
  width: 80%;
  margin: 1rem;
}

.form-message {
  font-size: 1.4rem;
  width: 80%;
  margin: 1rem;
}

.form-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 0.5rem;
}

.form-check {
  padding-bottom: 0.5rem;
}

.form-check-label {
  font-size: 1rem;
}

.contact__policy {
  margin-top: 1.5rem;
}

.policy__title {
  color: rgb(218, 136, 136);
  font-size: var(--fs-text);
  font-style: italic;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.policy__body ul {
  font-size: 1rem;
  text-align: left;
  margin: 0;
  padding-left: 5rem;
}

.policy__body ul li {
  margin-left: 2rem;  
}


/* Footer styles */
.footer {
  background-color: var(--clr-bckgr-hdft);
  padding: 0;
  color: var(--clr-text-nav);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 1rem 1rem;
  margin-top: 2rem;
}


.footer-copyright {
  padding-top: 0.3rem;
}

.footer p {
  margin: 0;
}


.footer-social {
  display: flex;
  justify-content: center;
  margin-right: 1rem;
  padding-top: 0.4rem;
}

.footer-social p {
  padding: 0.25rem;
}

.footer-social-links {
  display: flex;
  list-style: none;
  margin-left: 1rem;
}

.footer-social-links li {
  margin-right: 0.5rem;
}

.footer-social-links a i:hover {
  color:white;
}

.footer-social-links * {
  color: rgb(192, 188, 188);
}

/*Floating Back-To-Top Button*/
#go-to-top {
  position: fixed;
  bottom: 23px;
  float: right;
  right: 12%;
  left: 88%;
  max-width: 30px;
  width: 100%;
  font-size: 12px;
  border-color: rgba(85, 85, 85, 0.2);
  background-color: rgb(100,100,100);
  padding: .5px;
  border-radius: 4px;
}

#go-to-top a {
  color: beige;
  text-decoration: none;
}

#go-to-top:hover {
  background-color: #7dbbf1;
}

.go-to-top-hide {
  opacity: 0;
}

.go-to-top-show {
  opacity: 0.5;
}

/* Media query. Mobile first approach */
@media only screen and (min-width: 750px) {

  .projects {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .project {
    flex-grow: 1;
    flex-basis: 45%;
  }

  .contact__body {
    flex-direction: row;
    align-items: top;
  }
  

  .form-control {
    font-size: 1rem;
  }
 
  button {
    border-radius: 0.25rem;
    font-size: 1rem;
  }

  .footer {
    flex-direction: row;
  }

  .footer-social {
    justify-content: right;
  } 

  #go-to-top {
    bottom: 80px;
    right: 4%;
    left: 96%;  
  }
}

