
:root {
  --clr-text: #5a5a5a;
  --clr-primary: #067e0a;
  --clr-accent: #764981;

  --ff-title: "BFNarrow", sans-serif;
  --ff-serif: "Crimson Text", serif;
  --ff-logo: "BetterFly", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: var(--ff-serif);
  color: var(--clr-text);
  font-size: 1.125rem;
  font-weight: 300;
}


/* Typography */
h1,
h2,
h3 {
  font-family: var(--ff-title);
  line-height: 0.8;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

/* Layout */

body {
  border: 1px solid red;
  background-color: lightgrey;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0.3rem; 
  padding: 0.3rem; 
}


header {
  border: 1px solid green;
  text-align: center;
}

main {
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* flex-wrap: wrap; */
}

aside {
  display: flex;
  flex-direction: column;
  justify-content:space-between;
  border: 1px dashed blue;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;   
}

.about {
  border: 1px dotted red;
  /* flex-shrink: 1; */
}

.about .info {
  margin: 0.5rem;
}

.contact {
  border: 1px dotted red;
  /* flex-shrink: 1; */
}

#invisible-recaptcha-form .form-group {
  margin: 0.2rem;
}

#name {
  width: 60%;
}
#email {
  width: 80%;
}
#message {
  width: 100%;
}

#priv {
  margin: 0;
}

.projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-shrink: 1;
  border: 1px dashed blue;
  width: 100vw;
  height: 100vh;
}

.projects > h2 {
  flex-grow: 0;
  flex-shrink: 0;
  /* text-align: center; */
}

footer {
  font-size: 1.1rem;
  border: 1px solid green;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > .copy-right {
  /* margin: 0.2rem; */
}

footer > .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* margin: 0.5rem; */
}


/* Media query */
/* <320px, which is great for older small, low res phones */
/* < 480px (which applies to older, smaller smartphone screen sizes) */
/* < 768px, which is ideal for larger smartphones and smaller tablets */
/* 768px, which applies for everything bigger such as large tablet screens and desktops screens. */
/* 1024px stylesheet for wide screens on desktops. */

/* Desktop-first approach */
@media (max-width: 70em) {
  :root,html {
    font-size: 1em;
  }

  body {
    width:auto;
  }

  main {
    flex-wrap: wrap;
  }

  aside {
    flex-grow: 1;
    flex-shrink: 2;
  }

  .about {
    flex-shrink: 1;
  }

  .contact {
    flex-shrink: 1;
  }

  #name {
    width: 65%;
  }
  #email {
    width: 70%;
  }
  #message {
    width: 80%;
  }
  
  footer {
    flex-direction: column;    
  }
}


/* portrait */
/* @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: portrait) {
} */

/* landscape */
/* @media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1024px) 
and (orientation: landscape) {
} */
