/* @import "cookies.css"; */

* {
  box-sizing: border-box;
}

:root, html {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.container {
  margin: 1rem; 
  padding: 1rem; 
}

body {
  font-family: "Barlow Condensed",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-weight: 300;
}

header {

}

h1 {
  font-size: 2rem;
  top: 30%;
  text-align: center;
  margin-bottom:.5rem
}


main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70vh;
  width: 100vw
}

aside {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 25%;   
}


.about .info {
  margin: 0.5rem;
}


#invisible-recaptcha-form .form-group {
  margin: 0.5rem;
}

#message {
  width: 100%;
}

.projects {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 70%; 
}

.projects > h2 {
  text-align: center;
}

footer {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer > .copy-right {
  margin: 1rem;
}

footer > .social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}


/* An element box visualization while develop */
.v-b {
  border: 1px dotted red;
}

/* A overlay text while develop */

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#overlay-text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 50px;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}


/* Media querry */
/* @media (min-width: 576px) {
  section {
    width:85%;
  }
}

@media (min-width: 768px) {
  :root,html {
    font-size:16px
  }

  section {
    flex-direction:row;
    width:80%;
  }

  nav {
    border-left:2px solid #D9DADC;
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    padding-left:2rem;
    min-width:33%
  }

  header { 
    padding-right:2rem;
  }

  a {
    margin:0;
  }
}

@media (min-width: 992px) {
  :root,html {
    font-size:18px
  }

  section {
    width:72%;
  }
}

@media (min-width: 1200px) {
  :root,html {
    font-size:20px
  }

  section {
    width:66%;
  }
} */
